{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ hero.name }}</h1>
        <p>Sexe = {{ hero.gender }}</p>
        <p>Age = {{ hero.age }} ans</p>
    </div>
{% endblock %}